body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right top, #0f2027, #203a43, #2c5364);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

form {
  max-width: 500px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa; /* измените на свой основной цвет фона навбара */
  padding: 10px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #333; /* измените на свой цвет текста ссылок */
}

.btn-group-vertical button {
  background-color: #474A51	;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
  color: #007bff;
}