{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <h1>Добавить администратора</h1>
        <form method="post">
          {% csrf_token %}
          <label for="full_name">Имя:</label>
          <input type="text" id="full_name" name="full_name"><br><br>
          <label for="phone_number">Номер телефона:</label>
          <input type="text" id="phone_number" name="phone_number"><br><br>
          <button type="submit">Сохранить</button>
        </form>


    </div>
</div>

{% endblock %}