{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <h1>Редактировать абонемент</h1>

        <form method="POST">
            {% csrf_token %}
            <label for="group">Группа:</label>
            <select id="group" name="group">
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if group.id == subscription.group.id %} selected {% endif %}>{{ group.name }}</option>
                {% endfor %}
            </select><br><br>
            <label for="client">Ученик:</label>
            <select id="client" name="client">
                {% for client in clients %}
                    <option value="{{ client.id }}" {% if client.id == subscription.client.id %} selected {% endif %}>{{ client.full_name }}</option>
                {% endfor %}
            </select><br><br>
            <label for="coach">Учитель:</label>
            <select id="coach" name="coach">
                {% for coach in coaches %}
                    <option value="{{ coach.id }}" {% if coach.id == subscription.coach.id %} selected {% endif %}>{{ coach.full_name }}</option>
                {% endfor %}
            </select><br><br>
            <label for="lessons_count">Количество занятий:</label>
            <input type="text" id="lessons_count" name="lessons_count" value="{{ subscription.lessons_count }}"><br><br>
            <label for="attendance">Оплата:</label>
            <input type="checkbox" id="attendance" name="attendance" {% if subscription.attendance %} checked {% endif %}><br><br>
            <label for="comment">Комментарии:</label>
            <textarea id="comment" name="comment">{{ subscription.comment }}</textarea><br><br>
            <button type="submit">Сохранить</button>
</form>
    </div>
</div>


{% endblock %}