{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <h1>Редактировать абонемент</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <style>
                #id_attendance {
                  height: 20px;
                  padding: 10px;
                  border: 2px solid #ccc;
                  transform: scale(5);
                  vertical-align: middle;
                }
            </style>


            <button type="submit">Сохранить</button>
        </form>

        <h2>Детали абонемента:</h2>
        <p>Группа: {{ subscription.group }}</p>
        <p>Клиент: {{ subscription.client }}</p>
        <p>Тренер: {{ subscription.coach }}</p>
        <p>Количество занятий: {{ subscription.lessons_count }}</p>
        <p>Посещаемость: {{ subscription.attendance }}</p>
        <p>Цена: {{ subscription.price }}</p>
        <p>Комментарий: {{ subscription.comment }}</p>
        <p>Дата начала: {{ start_date }}</p>
        <p>Дата окончания: {{ end_date }}</p>
        <p>Расписание уроков: {{ subscription.lesson_schedule }}</p>

        <h2>Расписание уроков:</h2>
        <ul>
            {% for lesson_schedule in lesson_schedules %}
            <li>{{ lesson_schedule }}</li>
            {% endfor %}
        </ul>

        <a href="{% url 'subscription_list' %}">Вернуться к списку абонементов</a>

    </div>
</div>
{% endblock %}