{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <h1>Список групп</h1>

        {% regroup groups by coach.full_name as coach_groups %}

        {% for coach_group in coach_groups %}
            <h2>{{ coach_group.grouper }}</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Описание</th>
                </tr>
                {% for group in coach_group.list %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.description }}</td>
                    <td><a class="btn btn-default" href="{% url 'update_group' group.pk %}">Редактировать</a></td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}

    </div>
</div>
{% endblock %}

