{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Введите номер карты</h2>
            <form method="GET" action="">
                <input type="text" name="card_number" placeholder="Введите номер карты">
                <button type="submit" style="background-color: #4c43b5; color: white;">Поиск</button>

            </form>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-left">
                    <div class="card-body">
                        <h2 class="mb-2">Список групп</h2>
                        <ul class="group-list">
                            {% for group in groups %}
                            <hr>
                            <li>
                                <button class="group-button" data-group-name="{{ group.name }}">{{ group.name }}
                                </button>
                            </li>
                            {% empty %}
                            <li>No groups available.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-right">
                    <div class="card-inner">
                        <table class="table table-striped mt-5" id="client-table">

                            <thead>
                            <tr>
                                <th>Группа</th>
                                <th>Клиент</th>
                                <th>Кол. занятий</th>
                                <th>Оплата</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscription in subscriptions %}
                            {% if subscription.lessons_count != 0 %}
                            <tr class="client-row" style="display: none;"
                                data-group-name="{{ subscription.group.name }}">
                                <td>{{ subscription.group.name }}</td>
                                <td><a href="{% url 'view_client_profile' id=subscription.client.id %}">{{ subscription.client.full_name }}</a></td>
                                <td>
                                    <span>{{ subscription.lessons_count }}</span>

                                    {% if subscription.lessons_count == 1 %}
                                    <span style="color: red;">Напоминание: Осталось 1 занятие, необходимо выписать новый абонемент!</span>
                                    {% endif %}

                                </td>
                                <td>
                                    {% if subscription.attendance %}
                                    Оплачено
                                    {% else %}
                                    Не оплачено
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="button-wrapper">
                                        <form method="post"
                                              action="{% url 'update_subscription' subscription_id=subscription.id action='subtract' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="mark-button"
                                                    style="background-color: #4c43b5; color: white;">Посетил
                                            </button>
                                        </form>

                                        <form method="post"
                                              action="{% url 'update_subscription' subscription_id=subscription.id action='add' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="cancel-button"
                                                    style="background-color: #b161f2; color: white;">Отменить
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% empty %}
                            <tr>
                                <td colspan="4">No subscriptions available.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="client-list-container">
                            <div class="card client-list">
                                <div class="card-body" style="text-align: center;">
                                    <div class="client-list" id="client-list">
                                        <h3>Клиенты, посетившие центр за сегодня:</h3>
                                        <table class="table table-striped mt-3">
                                            <thead>
                                            <tr>
                                                <th>Клиент</th>
                                                <th>Группа</th>
                                                <th>Дата</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for markedAttendance in markedAttendance %}
                                            <tr>
                                                <td>{{ markedAttendance.user.client.full_name }}</td>
                                                <td>{{ markedAttendance.user.client.group_obj.name }}</td>
                                                <td>{{ markedAttendance.timestamp }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3">Нет отмеченных посещений.</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        const groupButtons = document.querySelectorAll('.group-button');
    const clientRows = document.querySelectorAll('.client-row');

    groupButtons.forEach(button => {
        button.addEventListener('click', () => {
            const groupName = button.getAttribute('data-group-name');

            clientRows.forEach(row => {
                if (row.getAttribute('data-group-name') === groupName) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });

            // Save group state in localStorage
            localStorage.setItem('currentGroup', groupName);
        });

        // Restore group state from localStorage on page load
        const savedGroup = localStorage.getItem('currentGroup');
        if (savedGroup) {
            clientRows.forEach(row => {
                if (row.getAttribute('data-group-name') === savedGroup) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    });

    // Check localStorage on page load to maintain button states
    attendanceButtons.forEach(button => {
        const subscriptionId = button.getAttribute('data-subscription-id');
        const localStorageKey = `subscription_${subscriptionId}`;

        if (localStorage.getItem(localStorageKey) === 'visited') {
            button.disabled = true;
            const textElement = document.createTextNode(' Посетил');
            const textSpan = document.createElement('span');
            textSpan.style.color = 'green';
            textSpan.appendChild(textElement);
            button.parentNode.replaceChild(textSpan, button);
        }
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    </script>

    {% endblock %}