<style>

    .container {
        margin-top: 20px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 15px;
    }

    .group-list {
        list-style: none;
        padding: 0;
    }

    .group-list li {
        margin-bottom: 10px;
    }

.button-wrapper form {
    margin-top: 0;
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
}


/* Изменить цвет кнопки "Отменить" */
.cancel-button {
    background-color: #f75e5e; /* Используйте любой желаемый цвет */
    color: white;
}
    .group-button {
        background: #f0f0f0;
        color: #333;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
    }

    .group-button:hover {
        background: #e0e0e0;
    }


    /* Style for "Отметить" button */
    .mark-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: none;
        border-radius: 5px;
    }

    /* Style for "Отменить" button */
    .cancel-button {
        background-color: #f44336;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: none;
        border-radius: 5px;
    }

    .client-list {
        margin-top: 20px;
    }

    .client-list h3 {
        margin-bottom: 10px;
    }

    .client-list table {
        width: 100%;
        color: #333;
    }

    .client-list th, .client-list td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .button-wrapper {
        display: inline-block;
    }

</style>
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Введите номер карты</h2>
            <form method="GET" action="">
                <input type="text" name="card_number" placeholder="Введите номер карты">
                <button type="submit">Поиск</button>
            </form>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-left">
                    <div class="card-body">
                        <h2 class="mb-2">Список групп</h2>
                        <ul class="group-list">
                            {% for group in groups %}
                            <li>
                                <button class="group-button" data-group-name="{{ group.name }}">{{ group.name }}
                                </button>
                            </li>
                            {% empty %}
                            <li>No groups available.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-right">
                    <div class="card-inner">
                        <table class="table table-striped mt-5" id="client-table">

                            <thead>
                            <tr>
                                <th>Группа</th>
                                <th>Клиент</th>

                                <th>Кол. занятий</th>
                                <th>Оплата</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscription in subscriptions %}
                            <tr class="client-row" style="display: none;"
                                data-group-name="{{ subscription.group.name }}">
                                <td>{{ subscription.group.name }}</td>
                                <td>{{ subscription.client.full_name }}</td>
                                <td>
                                    <span>{{ subscription.lessons_count }}</span>
                                    <span>{{ subscription.button_highlighted }}</span>
                                </td>
                                <td>

                                    {% if subscription.attendance %}
                                    Оплачено
                                    {% else %}
                                    Не оплачено
                                    {% endif %}


                                </td>
                                <td>
                                    <div class="button-wrapper">
                                        <form method="post"
                                              action="{% url 'update_subscription' subscription_id=subscription.id action='subtract' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="mark-button">Посетил</button>
                                        </form>

                                        <form method="post"
                                              action="{% url 'update_subscription' subscription_id=subscription.id action='add' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="cancel-button">Отменить</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">No subscriptions available.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="client-list-container">
                            <div class="card client-list">
                                <div class="card-body" style="text-align: center;">
                                    <div class="client-list" id="client-list">
                                        <h3>Клиенты, посетившие центр за сегодня:</h3>
                                        <table class="table table-striped mt-3">
                                            <thead>
                                            <tr>
                                                <th>Клиент</th>
                                                <th>Группа</th>
                                                <th>Дата</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for markedAttendance in markedAttendance %}
                                            <tr>
                                                <td>{{ markedAttendance.user.client.full_name }}</td>
                                                <td>{{ markedAttendance.user.client.group_obj.name }}</td>
                                                <td>{{ markedAttendance.timestamp }}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3">No marked attendances available.</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const groupButtons = document.querySelectorAll('.group-button');
    const clientRows = document.querySelectorAll('.client-row');

    groupButtons.forEach(button => {
        button.addEventListener('click', () => {
            const groupName = button.getAttribute('data-group-name');

            clientRows.forEach(row => {
                if (row.getAttribute('data-group-name') === groupName) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });

            // Save group state in localStorage
            localStorage.setItem('currentGroup', groupName);
        });

        // Restore group state from localStorage on page load
        const savedGroup = localStorage.getItem('currentGroup');
        if (savedGroup) {
            clientRows.forEach(row => {
                if (row.getAttribute('data-group-name') === savedGroup) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    });

    // Check localStorage on page load to maintain button states
    attendanceButtons.forEach(button => {
        const subscriptionId = button.getAttribute('data-subscription-id');
        const localStorageKey = `subscription_${subscriptionId}`;

        if (localStorage.getItem(localStorageKey) === 'visited') {
            button.disabled = true;
            const textElement = document.createTextNode(' Посетил');
            const textSpan = document.createElement('span');
            textSpan.style.color = 'green';
            textSpan.appendChild(textElement);
            button.parentNode.replaceChild(textSpan, button);
        }
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    </script>

{% endblock %}