{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    </div>
    <h1>Users Activity for Current Month</h1>
    <ul>
        {% for user_data in users_data %}
            <li>{{ user_data.user.username }} - Activities: {{ user_data.num_activities }}</li>
        {% endfor %}
    </ul>
{% endblock content %}