{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <h1>Добавить Учителя</h1>
        <table>
            <thead>

            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.author }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.pass_type }}</td>
                    <td>{{ student.pass_type }}</td>
                    <td>{{ student.start_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить Учителя</button>
        </form>

        <ul>
        {% for teacher in teachers %}
            <li>{{ teacher.name }} - {{ teacher.salary }}</li>
        {% empty %}
            <p>Нет учителей в базе данных</p>
        {% endfor %}
    </ul>


    </div>
</div>


{% endblock %}