


{% extends 'base.html' %}

{% block content %}
      <h2>Редактировать клиента</h2>
      <form method="POST">
        {% csrf_token %}
        <label for="full_name">ФИО:</label>
        <input type="text" name="full_name" value="{{ client.full_name }}" required><br>

        <label for="birth_date">Дата рождения:</label>
        <input type="date" name="birth_date" value="{{ client.birth_date }}" required><br>

        <label for="phone_number">Номер телефона:</label>
        <input type="text" name="phone_number" value="{{ client.phone_number }}" required><br>

        <label for="parent_name">ФИО родителя:</label>
        <input type="text" name="parent_name" value="{{ client.parent_name }}" required><br>

          <label for="parent_name">address:</label>
        <input type="text" name="address" value="{{ client.address }}" required><br>

          <label for="parent_name">card_number:</label>
        <input type="text" name="card_number" value="{{ client.card_number }}" required><br>

        <label for="group">Группа:</label>
        <select name="group" required>
          {% for group in groups %}
            {% if group.id == client.group_obj.id %}
              <option value="{{ group.id }}" selected>{{ group.name }}</option>
            {% else %}
          <option value="{{ group.id }}">{{ group.name }}</option>
        {% endif %}
      {% endfor %}
    </select><br>

    <label for="date_joined">Дата изменения:</label>
    <input type="date" name="date_joined" value="{{ client.date_joined }}" required><br>

    <button type="submit">Сохранить</button>
{% endblock %}














